# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code files
.vscode/
# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/flutter_unity_widget.podspec
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Pub package manager
/.packages
/.pub/
/pubspec.lock

# iOS build artifacts
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Generated.xcconfig
ios/Flutter/App/Flutter-Info.plist
ios/Flutter/App/GoogleService-Info.plist
ios/Flutter/App/Development.xcconfig
ios/Flutter/App/Release.xcconfig

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
