<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088067363701-ckafc1jq573b1jeqvqoeiairo9r676j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088067363701-ckafc1jq573b1jeqvqoeiairo9r676j9</string>
	<key>API_KEY</key>
	<string>AIzaSyCYPgpw_a8mSP3a5m6S3x1QNxN7ODxEiZk</string>
	<key>GCM_SENDER_ID</key>
	<string>1088067363701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrcafe</string>
	<key>PROJECT_ID</key>
	<string>qrcafe-aa724</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcafe-aa724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088067363701:ios:77354f7958fc940e85293c</string>
</dict>
</plist>