<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088067363701-v22na462jjdt877bg2q58nbpjr4b7fr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088067363701-v22na462jjdt877bg2q58nbpjr4b7fr8</string>
	<key>API_KEY</key>
	<string>AIzaSyCYPgpw_a8mSP3a5m6S3x1QNxN7ODxEiZk</string>
	<key>GCM_SENDER_ID</key>
	<string>1088067363701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrcafe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>qrcafe-33aef</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcafe-33aef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088067363701:ios:52f2b183cb90fe6185293c</string>
</dict>
</plist>